:root{
    --vermelho:#E50914;
    --preto:#141414;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*Elmentos Base*/
body{
    background: var(--preto);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filmes principais*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)) ,url('/img/img001.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 50px;
}

.filme-principal .titulo{
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

/*# WRAPPER = ENVELOPAR*/

.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 80%;
}